/* h1{
    font-family: Nickainley;
    font-weight: 400; 
    font-style: normal; 
    color: rgb(255, 177, 165);
    font-size: 66.0818px;
}
.presentacion{
    text-align: center;
    float: right; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.presentacion_imagen{
}

main{
    width: 60%;
    margin: auto;
    background-color: rgb(255, 225, 220);
    display: flex;
} 
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #000;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.imagen-info {
    display: flex;
    background-color: #ccc;
    border: 15px solid #ccc;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}

.imagen-info img {
    max-width: 300px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}


.imagen-info .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 177, 165);
    flex: 1;
}

.info{
    /* text-align: center; */
    padding-left: 10%;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
}
h1 {
    font-family: Nickainley;
    font-weight: 400;
    font-style: normal;
    font-size: 66px;
    margin-bottom: 10px;
}
h3{
    font-weight: 400;
    font-size: 20px;
}

/* main{
background-color: #ccc;
} */
article{
text-align: right;
}
article p{
background-color: #ccc;
margin-top: 0;
padding: 0 15px 50px 15px;
border-radius: 0 0 5px 5px;
font-size: 14px;
text-align: justify;
letter-spacing: 1px;
font-weight: 500;
}
